:root {
  --text-base: #213547;
  --bg-base: #dfdfdf;
  // Charts
  --title-text: #213547;
  --legend: #213547;
  --x-hours-gridline: #5f5f5f78;
  --x-hours-labels: #213547;
  --x-categories-gridline: #5f5f5f78;
  --x-categories-labels: #213547;
  --y-gridline: #5f5f5f78;
  --y-plotlines: #0b7fab;
  --y-plotlines-label: #213547;
  --y-plotbands-label: #213547;
  --y-plotbands-odd: rgba(0, 0, 0, 0);
  --y-plotbands-even: rgba(68, 170, 213, 0.1);
  --y-title: #213547;
  --y-labels: #213547;
  --temp-series-max-temp: #ec644b;
  --temp-series-max-feel-temp: #ec644b;
  --temp-series-min-temp: #1e8bc3;
  --temp-series-min-feel-temp: #1e8bc3;
  --precipitation: #006992;
  --clouds: #fad859;
  --wind-speed: #006992;
  --humidity: #03a678;
  --air-pressure-high: #f2784b;
  --air-pressure-low: #006992;
  --air-pressure-break: #1e8bc3;

  body {
    &.body {
      &--dark {
        --text-base: rgba(255, 255, 255, .87);
        --bg-base: #1f1f1f;
        // Charts
        --title-text: rgba(255, 255, 255, .87);
        --legend: rgba(255, 255, 255, .87);
        --x-hours-gridline: #85858578;
        --x-hours-labels: rgba(255, 255, 255, .87);
        --x-categories-gridline: #85858578;
        --x-categories-labels: rgba(255, 255, 255, .87);
        --y-gridline: #858585;
        --y-plotlines: #0b7fab;
        --y-plotlines-label: rgba(255, 255, 255, .87);
        --y-plotbands-label: rgba(255, 255, 255, .87);
        --y-plotbands: #c0c0c0;
        --y-plotbands-odd: rgba(0, 0, 0, 0);
        --y-plotbands-even: rgba(68, 170, 213, 0.1);
        --y-title: rgba(255, 255, 255, .87);
        --y-labels: rgba(255, 255, 255, .87);
        --temp-series-max-temp: #ec644b;
        --temp-series-max-feel-temp: #ec644b;
        --temp-series-min-temp: #1e8bc3;
        --temp-series-min-feel-temp: #1e8bc3;
        --precipitation: #006992;
        --clouds: #fad859;
        --wind-speed: #006992;
        --humidity: #03a678;
        --air-pressure-high: #f2784b;
        --air-pressure-low: #006992;
      }
    }
  }
}

// RESET
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
// ol, ul {
// 	list-style: none;
// }
// blockquote, q {
// 	quotes: none;
// }
// blockquote:before, blockquote:after,
// q:before, q:after {
// 	content: '';
// 	content: none;
// }
// table {
// 	border-collapse: collapse;
// 	border-spacing: 0;
// }
